*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
font-family: "ExpoArabic";
src: url("fonts/ExpoArabic-Bold.otf");
}
@font-face {
font-family: "ExpoLight";
src: url("fonts/ExpoArabic-Book.ttf");
}
body {
font-family: "ExpoArabic", Arial, sans-serif;
direction: rtl;
background-color: #000;
}
/* background video */
video {
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
opacity: 0.3;
z-index: -1;
}
#myVideo2 {
display: none;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
opacity: 0.5;
z-index: -1;
}
.container {
width: 100%;
max-width: 1500px;
margin: 0 auto;
display: flex;
flex-direction: column;
z-index: 100;
margin-bottom: 30px;
}
.title {
color: white;
text-align: center;
margin-top: 50px;
font-size: 40px;
z-index: 100;
}
.dropdown-container {
margin: 10px auto;
z-index: 100;
}
label {
display: block;
margin-bottom: 10px;
font-weight: bold;
font-size: 1.2em;
color: #333;
}

.custom-select-wrapper {
position: relative;
width: 200px;
display: inline-block;
}

.custom-select {
width: 200px;
padding: 12px 20px 12px 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff;
font-size: 25px;
color: #333;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
direction: rtl;
font-family: inherit;
}

.custom-arrow-wrapper {
position: absolute;
top: 50%;
left: 10px;
transform: translateY(-50%);
pointer-events: none;
font-size: 40px;
color: #333;
}

.custom-select
{
border-color: #137547;
box-shadow: 0 0 5px #137547;
outline: none;
}
.city-info {
margin: 0 20px;
color: #fff;
font-size: 30px;
font-family: "ExpoLight", Arial, sans-serif;
z-index: 100;
}
.city-info hr {
margin: 16px 0;
}

.prayers {
display: grid;
gap: 20px;
width: 100%;
margin: 30px auto;
font-family: "ExpoLight", Arial, sans-serif;
z-index: 100;
}
.pray {
background-color: #fff;
color: #333;
margin: 0 16px;
padding: 20px 0;
font-size: 1.5em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.pray img {
width: 60px;
}
.pray .pray-name {
font-size: 35px;
margin: 5px 0;
}
.pray-time {
direction: ltr;
}
@media (min-width: 1200px) {
.prayers {
grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 500px) and (max-width: 1199px) {
.prayers {
grid-template-columns: repeat(2, 1fr);
}
video {
opacity: 0.5;
}
}

@media (max-width: 500px) {
.prayers {
grid-template-columns: 2fr;
}
.title {
font-size: 25px;
}
.city-info {
font-size: 25px;
text-align: center;
margin: 0 auto;
}
.city-info .date {
font-size: 30px;
}
.city-info hr {
margin: 10px 0;
width: 300px;
}
#myVideo {
display: none;
}
#myVideo2 {
display: block;
}
}
